<!doctype html>
<html lang="en" class="no-js">

	<head>
		<title>iHeartCoding</title>

		<meta charset="utf-8">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,
			maximum-scale=1">

		<link
			href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic'
			rel='stylesheet' type='text/css'>
		<link href="../public/css/font-awesome.css" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css"
			media="screen">
		<link rel="stylesheet" type="text/css" href="../public/css/jquery.bxslider.css"
			media="screen">
		<link rel="stylesheet" type="text/css" href="../public/css/font-awesome.css"
			media="screen">
		<link rel="stylesheet" type="text/css" href="../public/css/magnific-popup.css"
			media="screen">
		<link rel="stylesheet" type="text/css" href="../public/css/owl.carousel.css"
			media="screen">
		<link rel="stylesheet" type="text/css" href="../public/css/owl.theme.css"
			media="screen">
		<link rel="stylesheet" type="text/css" href="../public/css/ticker-style.css" />
		<link rel="stylesheet" type="text/css" href="../public/css/style.css" media="screen">
	</head>

	<body>

		<!-- Container -->
		<div id="container">

			<!-- Header
		    ================================================== -->
			<header class="clearfix">
				<!-- Bootstrap navbar -->
				<nav class="navbar navbar-default navbar-static-top" role="navigation">

					<!-- Top line -->
					<div class="top-line">
						<div class="container">
							<div class="row">
								<div class="col-md-9">
									<ul class="top-line-list">
										<li>
											<span class="city-weather">Colombo, LK</span>
										</li>
										<li><span class="time-now">Thursday 8 January 2015 / 21:20</span></li>
										<li><a href="#">Log In</a></li>
										<li><a href="contact.html">Contact</a></li>
									</ul>
								</div>
								<div class="col-md-3">
									<ul class="social-icons">
										<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
										<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
										<li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- End Top line -->

					<!-- Logo & advertisement -->
					<div class="logo-advertisement">
						<div class="container">

							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed"
									data-toggle="collapse"
									data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="index.html"><img src="images/logo.png"
										alt=""></a>
							</div>
						</div>
					</div>
					<!-- End Logo & advertisement -->

					<!-- navbar list container -->
					<div class="nav-list-container">
						<div class="container">
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-left">

									<li><a href="index.html" style="content: none !important">Home</a></li>

									<li><a class="world" href="news-category4.html">World</a></li>

									<li><a class="travel" href="news-category3.html">Travel</a></li>

									<li><a class="tech" href="news-category2.html">Tech</a></li>

									<li><a class="fashion" href="news-category6.html">Fashion</a></li>

									<li><a class="video" href="video.html">Video</a></li>

									<li><a class="sport" href="news-category5.html">Sport</a></li>
									
									<li><a class="food" href="news-category1.html">Food &amp; Health</a></li>

									<li class="drop"><a class="features content-drop" href="#">Features</a>
										<ul class="dropdown features-dropdown">
											<li class="drop"><a href="#">Category Layouts</a>
												<ul class="dropdown level2">
													<li><a href="news-category1.html">Large Image Sidebar</a></li>
													<li><a href="news-category2.html">Left Sidebar Thumbnail</a></li>
													<li><a href="news-category3.html">Both Sidebar</a></li>
													<li><a href="news-category4.html">2 Grid sidebar</a></li>
													<li><a href="news-category5.html">3 Grid no sidebar</a></li>
													<li><a href="news-category6.html">Fullwidth &amp; slider</a></li>
												</ul>
											</li>
											<li class="drop"><a href="#">Header Layouts</a>
												<ul class="dropdown level2">
													<li><a href="index.html">Default header</a></li>
													<li><a href="header2.html">header 2</a></li>
													<li><a href="header3.html">header 3</a></li>
													<li><a href="header4.html">header 4</a></li>
													<li><a href="header5.html">header 5</a></li>
												</ul>
											</li>
											<li class="drop"><a href="#">Post Formats</a>
												<ul class="dropdown level2">
													<li><a href="single-post.html">Single Post 1</a></li>
													<li><a href="single-post2.html">Single Post 2</a></li>
													<li><a href="single-post3.html">Single Post 3</a></li>
													<li><a href="single-post4.html">Single Post 4</a></li>
													<li><a href="single-post5.html">Single Post 5</a></li>
													<li><a href="single-post6.html">Single Post 6</a></li>
													<li><a href="single-post7.html">Single Post 7</a></li>
													<li><a href="single-post8.html">Single Post 8</a></li>
												</ul>
											</li>
											<li class="drop"><a href="#">Forum Pages</a>
												<ul class="dropdown level2">
													<li><a href="forums.html">Forums</a></li>
													<li><a href="forum-category.html">Topics</a></li>
													<li><a href="forum-topic.html">Single Topic</a></li>
												</ul>
											</li>
											<li><a href="allfooter.html">All footer widgets</a></li>
											<li><a href="autor-list.html">Autor List</a></li>
											<li><a href="autor-details.html">Autor Details</a></li>
											<li><a href="404-error.html">404 Error</a></li>
											<li><a href="underconstruction.html">Underconstruction</a></li>
											<li><a href="comming-soon.html">Comming soon Page</a></li>
										</ul>
									</li>

								</ul>
								<form class="navbar-form navbar-right" role="search">
									<input type="text" id="search" name="search" placeholder="Search here">
									<button type="submit" id="search-submit"><i class="fa fa-search"></i></button>
								</form>
							</div>
							<!-- /.navbar-collapse -->
						</div>
					</div>
					<!-- End navbar list container -->

				</nav>
				<!-- End Bootstrap navbar -->

			</header>
			<!-- End Header -->

			<!-- ticker-news-section
			================================================== -->
			<section class="ticker-news">

				<div class="container">
					<div class="ticker-news-box">
						<span class="breaking-news">breaking news</span>
						<span class="new-news">New</span>
						<ul id="js-news">
							<li class="news-item"><span class="time-news">11:36 pm</span> <a
									href="#">Lorem ipsum dolor sit
									amet, consectetuer adipiscing elit.</a> Donec odio. Quisque volutpat
								mattis eros...
							</li>
							<li class="news-item"><span class="time-news">12:40 pm</span> <a
									href="#">Dëshmitarja Abrashi: E
									kam parë Oliverin në turmë,</a> ndërsa neve na shpëtoi “çika Mille”
							</li>
							<li class="news-item"><span class="time-news">11:36 pm</span> <a
									href="#">Franca do të
									bashkëpunojë me Kosovën në fushën e shëndetësisë. </a></li>
							<li class="news-item"><span class="time-news">01:00 am</span> <a
									href="#">DioGuardi, kështu e
									mbrojti Kosovën në Washington, </a> para serbit Vejvoda </li>
						</ul>
					</div>
				</div>

			</section>
			<!-- End ticker-news-section -->

			<!-- features-today-section
			================================================== -->
			<section class="features-today">
				<div class="container">

					<div class="title-section">
						<h1><span>Today's Featured</span></h1>
					</div>

					<div class="features-today-box owl-wrapper">
						<div class="owl-carousel" data-num="4">

							<div class="item news-post standard-post">
								<div class="post-gallery">
									<img src="../public/upload/news-posts/st1.jpg" alt="">
									<a class="category-post world" href="world.html">Music</a>
								</div>
								<div class="post-content">
									<h2><a href="single-post.html">Pellentesque odio nisi, euismod in,
											pharetra a, ultricies
											in, diam. </a></h2>
									<ul class="post-tags">
										<li><i class="fa fa-clock-o"></i>27 may 2013</li>
										<li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
										<li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
									</ul>
								</div>
							</div>

							<div class="item news-post standard-post">
								<div class="post-gallery">
									<img src="../public/upload/news-posts/st2.jpg" alt="">
									<a class="category-post sport" href="sport.html">Sport</a>
								</div>
								<div class="post-content">
									<h2><a href="single-post.html">Suspendisse urna nibh, viverra non,
											semper suscipit,
											posuere a, pede.</a></h2>
									<ul class="post-tags">
										<li><i class="fa fa-clock-o"></i>27 may 2013</li>
										<li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
										<li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
									</ul>
								</div>
							</div>

							<div class="item news-post standard-post">
								<div class="post-gallery">
									<img src="../public/upload/news-posts/st3.jpg" alt="">
									<a class="category-post food" href="food.html">Food &amp; Health</a>
								</div>
								<div class="post-content">
									<h2><a href="single-post.html">Aliquam porttitor mauris sit amet orci.
											Aenean dignissim
											pellentesque felis.</a></h2>
									<ul class="post-tags">
										<li><i class="fa fa-clock-o"></i>27 may 2013</li>
										<li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
										<li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
									</ul>
								</div>
							</div>

							<div class="item news-post standard-post">
								<div class="post-gallery">
									<img src="../public/upload/news-posts/st4.jpg" alt="">
									<a class="category-post sport" href="sport.html">Sport</a>
								</div>
								<div class="post-content">
									<h2><a href="single-post.html">Pellentesque odio nisi, euismod in,
											pharetra a, ultricies
											in, diam. Sed arcu. </a></h2>
									<ul class="post-tags">
										<li><i class="fa fa-clock-o"></i>27 may 2013</li>
										<li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
										<li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
									</ul>
								</div>
							</div>

							<div class="item news-post standard-post">
								<div class="post-gallery">
									<img src="../public/upload/news-posts/st1.jpg" alt="">
									<a class="category-post travel" href="travel.html">Travel</a>
								</div>
								<div class="post-content">
									<h2><a href="single-post.html">Pellentesque odio nisi, euismod in,
											pharetra a, ultricies
											in, diam. </a></h2>
									<ul class="post-tags">
										<li><i class="fa fa-clock-o"></i>27 may 2013</li>
										<li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
										<li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
									</ul>
								</div>
							</div>

						</div>
					</div>

				</div>
			</section>
			<!-- End features-today-section -->

			<!-- block-wrapper-section
			================================================== -->
			<section class="block-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-sm-8">

							<!-- block content -->
							<div class="block-content">

								<!-- grid box -->
								<div class="grid-box">
									<div class="row">


										<div class="col-md-12">

											<!-- block content -->
											<div class="block-content">

												<!-- masonry box -->
												<div class="article-box">
													<div class="title-section">
														<h1><span>Latest Articles</span></h1>
													</div>

													<div class="news-post article-post">
														<div class="row">
															<div class="col-sm-4">
																<div class="post-gallery">
																	<img alt="" src="../public/upload/news-posts/art1.jpg">
																</div>
															</div>
															<div class="col-sm-8">
																<div class="post-content">
																	<h2><a href="single-post.html">Pellentesque odio nisi,
																			euismod in,
																			pharetra a, ultricies in, diam. Sed arcu. Cras
																			consequat.</a>
																	</h2>
																	<ul class="post-tags">
																		<li><i class="fa fa-clock-o"></i>27 may 2013</li>
																		<li><i class="fa fa-user"></i>by <a href="#">John
																				Doe</a></li>
																		<li><a href="#"><i
																					class="fa fa-comments-o"></i><span>23</span></a>
																		</li>
																		<li><i class="fa fa-eye"></i>872</li>
																	</ul>
																	<span class="post-rating">
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																	</span>
																	<p>Nullam malesuada erat ut turpis. Suspendisse urna
																		nibh, viverra non,
																		semper suscipit, posuere a, pede.</p>
																</div>
															</div>
														</div>
													</div>

													<div class="news-post article-post">
														<div class="row">
															<div class="col-sm-4">
																<div class="post-gallery">
																	<img alt="" src="../public/upload/news-posts/art2.jpg">
																</div>
															</div>
															<div class="col-sm-8">
																<div class="post-content">
																	<h2><a href="single-post.html">Pellentesque odio nisi,
																			euismod in,
																			pharetra a, ultricies in, diam. Sed arcu. Cras
																			consequat.</a>
																	</h2>
																	<ul class="post-tags">
																		<li><i class="fa fa-clock-o"></i>27 may 2013</li>
																		<li><i class="fa fa-user"></i>by <a href="#">John
																				Doe</a></li>
																		<li><a href="#"><i
																					class="fa fa-comments-o"></i><span>23</span></a>
																		</li>
																		<li><i class="fa fa-eye"></i>872</li>
																	</ul>
																	<span class="post-rating">
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																	</span>
																	<p>Nullam malesuada erat ut turpis. Suspendisse urna
																		nibh, viverra non,
																		semper suscipit, posuere a, pede.</p>
																</div>
															</div>
														</div>
													</div>

													<div class="news-post article-post">
														<div class="row">
															<div class="col-sm-4">
																<div class="post-gallery">
																	<img alt="" src="../public/upload/news-posts/art3.jpg">
																</div>
															</div>
															<div class="col-sm-8">
																<div class="post-content">
																	<h2><a href="single-post.html">Pellentesque odio nisi,
																			euismod in,
																			pharetra a, ultricies in, diam. Sed arcu. Cras
																			consequat.</a>
																	</h2>
																	<ul class="post-tags">
																		<li><i class="fa fa-clock-o"></i>27 may 2013</li>
																		<li><i class="fa fa-user"></i>by <a href="#">John
																				Doe</a></li>
																		<li><a href="#"><i
																					class="fa fa-comments-o"></i><span>23</span></a>
																		</li>
																		<li><i class="fa fa-eye"></i>872</li>
																	</ul>
																	<span class="post-rating">
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																	</span>
																	<p>Nullam malesuada erat ut turpis. Suspendisse urna
																		nibh, viverra non,
																		semper suscipit, posuere a, pede.</p>
																</div>
															</div>
														</div>
													</div>

													<div class="news-post article-post">
														<div class="row">
															<div class="col-sm-4">
																<div class="post-gallery">
																	<img alt="" src="../public/upload/news-posts/art4.jpg">
																</div>
															</div>
															<div class="col-sm-8">
																<div class="post-content">
																	<h2><a href="single-post.html">Pellentesque odio nisi,
																			euismod in,
																			pharetra a, ultricies in, diam. Sed arcu. Cras
																			consequat.</a>
																	</h2>
																	<ul class="post-tags">
																		<li><i class="fa fa-clock-o"></i>27 may 2013</li>
																		<li><i class="fa fa-user"></i>by <a href="#">John
																				Doe</a></li>
																		<li><a href="#"><i
																					class="fa fa-comments-o"></i><span>23</span></a>
																		</li>
																		<li><i class="fa fa-eye"></i>872</li>
																	</ul>
																	<span class="post-rating">
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																	</span>
																	<p>Nullam malesuada erat ut turpis. Suspendisse urna
																		nibh, viverra non,
																		semper suscipit, posuere a, pede.</p>
																</div>
															</div>
														</div>
													</div>

												</div>
												<!-- End masonry box -->

												<!-- pagination box -->
												<div class="pagination-box">
													<ul class="pagination-list">
														<li><a class="active" href="#">1</a></li>
														<li><a href="#">2</a></li>
														<li><a href="#">3</a></li>
														<li><span>...</span></li>
														<li><a href="#">9</a></li>
														<li><a href="#">Next</a></li>
													</ul>
													<p>Page 1 of 9</p>
												</div>
												<!-- End pagination box -->



											</div>
											<!-- End block content -->

										</div>

									</div>
								</div>
								<!-- End grid box -->

								<div class="grid-box">

									<div class="row">
										<div class="col-md-6">

											<div class="title-section">
												<h1><span>Technology</span></h1>
											</div>

											<ul class="list-posts">
												<li>
													<img src="../public/upload/news-posts/list1.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Pellentesque odio nisi, euismod in,
																pharetra a, ultricies in, diam. </a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>

												<li>
													<img src="../public/upload/news-posts/list2.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Pellentesque odio nisi, euismod in,
																pharetra a, ultricies in, diam. </a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>

												<li>
													<img src="../public/upload/news-posts/list3.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Pellentesque odio nisi, euismod in,
																pharetra a, ultricies in, diam. </a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>
												<li>
													<img src="../public/upload/news-posts/list1.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Pellentesque odio nisi, euismod in,
																pharetra a, ultricies in, diam. </a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>
											</ul>
										</div>

										<div class="col-md-6">

											<div class="title-section">
												<h1><span>Business</span></h1>
											</div>

											<ul class="list-posts">
												<li>
													<img src="../public/upload/news-posts/list4.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Pellentesque odio nisi, euismod in,
																pharetra a, ultricies in, diam. </a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>

												<li>
													<img src="../public/upload/news-posts/list5.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Pellentesque odio nisi, euismod in,
																pharetra a, ultricies in, diam. </a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>

												<li>
													<img src="../public/upload/news-posts/list6.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Pellentesque odio nisi, euismod in,
																pharetra a, ultricies in, diam. </a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>
												<li>
													<img src="../public/upload/news-posts/list4.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Pellentesque odio nisi, euismod in,
																pharetra a, ultricies in, diam. </a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>
											</ul>
										</div>

									</div>

								</div>

								<!-- carousel box -->
								<div class="carousel-box owl-wrapper">
									<div class="title-section">
										<h1><span>Gallery</span></h1>
									</div>
									<div class="owl-carousel" data-num="3">

										<div class="item news-post image-post3">
											<img src="../public/upload/news-posts/gal1.jpg" alt="">
											<div class="hover-box">
												<h2><a href="single-post.html">Donec odio. Quisque volutpat mattis
														eros.</a>
												</h2>
												<ul class="post-tags">
													<li><i class="fa fa-clock-o"></i>27 may 2013</li>
												</ul>
											</div>
										</div>

										<div class="item news-post image-post3">
											<img src="../public/upload/news-posts/gal2.jpg" alt="">
											<div class="hover-box">
												<h2><a href="single-post.html">Nullam malesuada erat ut turpis. </a></h2>
												<ul class="post-tags">
													<li><i class="fa fa-clock-o"></i>27 may 2013</li>
												</ul>
											</div>
										</div>

										<div class="item news-post image-post3">
											<img src="../public/upload/news-posts/gal3.jpg" alt="">
											<div class="hover-box">
												<h2><a href="single-post.html">Suspendisse urna nibh.</a></h2>
												<ul class="post-tags">
													<li><i class="fa fa-clock-o"></i>27 may 2013</li>
												</ul>
											</div>
										</div>

										<div class="item news-post image-post3">
											<img src="../public/upload/news-posts/gal4.jpg" alt="">
											<div class="hover-box">
												<h2><a href="single-post.html">Donec nec justo eget felis facilisis
														fermentum. Aliquam </a></h2>
												<ul class="post-tags">
													<li><i class="fa fa-clock-o"></i>27 may 2013</li>
												</ul>
											</div>
										</div>

										<div class="item news-post image-post3">
											<img src="../public/upload/news-posts/gal1.jpg" alt="">
											<div class="hover-box">
												<h2><a href="single-post.html">Donec odio. Quisque volutpat mattis
														eros.</a>
												</h2>
												<ul class="post-tags">
													<li><i class="fa fa-clock-o"></i>27 may 2013</li>
												</ul>
											</div>
										</div>

									</div>
								</div>
								<!-- End carousel box -->

							</div>
							<!-- End block content -->

						</div>

						<div class="col-sm-4">

							<!-- sidebar -->
							<div class="sidebar">

								<div class="widget search-widget">
									<form role="search" class="search-form">
										<input type="text" id="search" name="search" placeholder="Search here">
										<button type="submit" id="search-submit"><i class="fa fa-search"></i></button>
									</form>
								</div>
								
								<div class="widget tags-widget">

									<div class="title-section">
										<h1><span>Popular Tags</span></h1>
									</div>

									<ul class="tag-list">
										<li><a href="#">News</a></li>
										<li><a href="#">Fashion</a></li>
										<li><a href="#">Politics</a></li>
										<li><a href="#">Sport</a></li>
										<li><a href="#">Food</a></li>
										<li><a href="#">Videos</a></li>
										<li><a href="#">Business</a></li>
										<li><a href="#">Travel</a></li>
										<li><a href="#">World</a></li>
										<li><a href="#">Music</a></li>
									</ul>

								</div>

								<div class="widget tab-posts-widget">

									<ul class="nav nav-tabs" id="myTab">
										<li class="active">
											<a href="#option1" data-toggle="tab">Popular</a>
										</li>
										<li>
											<a href="#option2" data-toggle="tab">Recent</a>
										</li>
										<li>
											<a href="#option3" data-toggle="tab">Top Reviews</a>
										</li>
									</ul>

									<div class="tab-content">
										<div class="tab-pane active" id="option1">
											<ul class="list-posts">
												<li>
													<img src="../public/upload/news-posts/listw1.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Pellentesque odio nisi, euismod in,
																pharetra a, ultricies in, diam. </a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>

												<li>
													<img src="../public/upload/news-posts/listw2.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Sed arcu. Cras consequat. </a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>

												<li>
													<img src="../public/upload/news-posts/listw3.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Phasellus ultrices nulla quis nibh.
																Quisque a lectus. </a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>

												<li>
													<img src="../public/upload/news-posts/listw4.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Donec consectetuer ligula vulputate
																sem tristique cursus. </a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>

												<li>
													<img src="../public/upload/news-posts/listw5.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Nam nulla quam, gravida non,
																commodo
																a, sodales sit amet, nisi. </a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>
											</ul>
										</div>
										<div class="tab-pane" id="option2">
											<ul class="list-posts">

												<li>
													<img src="../public/upload/news-posts/listw3.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Phasellus ultrices nulla quis nibh.
																Quisque a lectus. </a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>

												<li>
													<img src="../public/upload/news-posts/listw4.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Donec consectetuer ligula vulputate
																sem tristique cursus. </a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>

												<li>
													<img src="../public/upload/news-posts/listw5.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Nam nulla quam, gravida non,
																commodo
																a, sodales sit amet, nisi.</a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>
												<li>
													<img src="../public/upload/news-posts/listw1.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Pellentesque odio nisi, euismod in,
																pharetra a, ultricies in, diam. </a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>

												<li>
													<img src="../public/upload/news-posts/listw2.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Sed arcu. Cras consequat.</a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>
											</ul>
										</div>
										<div class="tab-pane" id="option3">
											<ul class="list-posts">

												<li>
													<img src="../public/upload/news-posts/listw4.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Donec consectetuer ligula vulputate
																sem tristique cursus. </a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>

												<li>
													<img src="../public/upload/news-posts/listw1.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Pellentesque odio nisi, euismod in,
																pharetra a, ultricies in, diam. </a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>

												<li>
													<img src="../public/upload/news-posts/listw3.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Phasellus ultrices nulla quis nibh.
																Quisque a lectus. </a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>

												<li>
													<img src="../public/upload/news-posts/listw2.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Sed arcu. Cras consequat.</a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>

												<li>
													<img src="../public/upload/news-posts/listw5.jpg" alt="">
													<div class="post-content">
														<h2><a href="single-post.html">Nam nulla quam, gravida non,
																commodo
																a, sodales sit amet, nisi.</a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>27 may 2013</li>
														</ul>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>



							</div>
							<!-- End sidebar -->

						</div>

					</div>

				</div>
			</section>
			<!-- End block-wrapper-section -->

			<!-- footer 
			================================================== -->
			<footer>
				<div class="container">
					<div class="footer-widgets-part">
						<div class="row">
							<div class="col-md-3">
								<div class="widget text-widget">
									<h1>About</h1>
									<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor
										mauris sit amet
										orci. Aenean dignissim pellentesque felis. </p>
									<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi,
										euismod in, pharetra
										a, ultricies in, diam. Sed arcu. </p>
								</div>
								<div class="widget social-widget">
									<h1>Stay Connected</h1>
									<ul class="social-icons">
										<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
										<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="#" class="vimeo"><i class="fa fa-vimeo-square"></i></a></li>
										<li><a href="#" class="dribble"><i class="fa fa-dribbble"></i></a></li>
										<li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
										<li><a href="#" class="flickr"><i class="fa fa-flickr"></i></a></li>
										<li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3">
								<div class="widget posts-widget">
									<h1>Random Post</h1>
									<ul class="list-posts">
										<li>
											<img src="../public/upload/news-posts/listw4.jpg" alt="">
											<div class="post-content">
												<a href="travel.html">travel</a>
												<h2><a href="single-post.html">Pellentesque odio nisi, euismod in
														ultricies
														in, diam. </a></h2>
												<ul class="post-tags">
													<li><i class="fa fa-clock-o"></i>27 may 2013</li>
												</ul>
											</div>
										</li>

										<li>
											<img src="../public/upload/news-posts/listw1.jpg" alt="">
											<div class="post-content">
												<a href="business.html">business</a>
												<h2><a href="single-post.html">Sed arcu. Cras consequat.</a></h2>
												<ul class="post-tags">
													<li><i class="fa fa-clock-o"></i>27 may 2013</li>
												</ul>
											</div>
										</li>

										<li>
											<img src="../public/upload/news-posts/listw3.jpg" alt="">
											<div class="post-content">
												<a href="tech.html">tech</a>
												<h2><a href="single-post.html">Phasellus ultrices nulla quis nibh.
														Quisque a
														lectus.</a></h2>
												<ul class="post-tags">
													<li><i class="fa fa-clock-o"></i>27 may 2013</li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-3">
								<div class="widget categories-widget">
									<h1>Hot Categories</h1>
									<ul class="category-list">
										<li>
											<a href="#">Business <span>12</span></a>
										</li>
										<li>
											<a href="#">Sport <span>26</span></a>
										</li>
										<li>
											<a href="#">LifeStyle <span>55</span></a>
										</li>
										<li>
											<a href="#">Fashion <span>37</span></a>
										</li>
										<li>
											<a href="#">Technology <span>62</span></a>
										</li>
										<li>
											<a href="#">Music <span>10</span></a>
										</li>
										<li>
											<a href="#">Culture <span>43</span></a>
										</li>
										<li>
											<a href="#">Design <span>74</span></a>
										</li>
										<li>
											<a href="#">Entertainment <span>11</span></a>
										</li>
										<li>
											<a href="#">video <span>41</span></a>
										</li>
										<li>
											<a href="#">Travel <span>11</span></a>
										</li>
										<li>
											<a href="#">Food <span>29</span></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-3">
								<div class="widget flickr-widget">
									<h1>Flickr Photos</h1>
									<ul class="flickr-list">
										<li><a href="#"><img src="../public/upload/flickr/1.jpg" alt=""></a></li>
										<li><a href="#"><img src="../public/upload/flickr/2.jpg" alt=""></a></li>
										<li><a href="#"><img src="../public/upload/flickr/3.jpg" alt=""></a></li>
										<li><a href="#"><img src="../public/upload/flickr/4.jpg" alt=""></a></li>
										<li><a href="#"><img src="../public/upload/flickr/5.jpg" alt=""></a></li>
										<li><a href="#"><img src="../public/upload/flickr/6.jpg" alt=""></a></li>
									</ul>
									<a href="#">View more photos...</a>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-last-line">
						<div class="row">
							<div class="col-md-6">
								<p>&copy; COPYRIGHT 2015 hotmagazine.com</p>
							</div>
							<div class="col-md-6">
								<nav class="footer-nav">
									<ul>
										<li><a href="index.html">Home</a></li>
										<li><a href="about.html">About</a></li>
										<li><a href="contact.html">Contact</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- End footer -->

		</div>
		<!-- End Container -->

		<script type="text/javascript" src="../public/js/jquery.min.js"></script>
		<script type="text/javascript" src="../public/js/jquery.migrate.js"></script>
		<script type="text/javascript" src="../public/js/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="../public/js/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="../public/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../public/js/jquery.ticker.js"></script>
		<script type="text/javascript" src="../public/js/jquery.imagesloaded.min.js"></script>
		<script type="text/javascript" src="../public/js/jquery.isotope.min.js"></script>
		<script type="text/javascript" src="../public/js/owl.carousel.min.js"></script>
		<!-- <script type="text/javascript" src="js/retina-1.1.0.min.js"></script> -->
		<script type="text/javascript" src="../public/js/plugins-scroll.js"></script>
		<script type="text/javascript" src="../public/js/script.js"></script>

	</body>

</html>